.task-dashboard {
  border: 1px solid var(--grey1);
  border-radius: .5rem;
  margin: 0 auto 2rem auto;
  padding: var(--space-5);
  width: 100%;
  height: 100%;
  max-width: min(var(--max-w-1), 95vw);

  /* min-height: 80vh; */
}

.task-controls {
  display: flex;
  margin-bottom: 1rem;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  z-index: 100;
  padding: .5rem 0;
}

.control-group {
  display: flex;
  flex-direction: column;
}

.control-group:not(:last-child) {
  margin-right: .5rem;
}

.control-group:last-child {
  margin-left: auto;
}

/* custom-select  */
.control-group label,
.control-group span {
  margin-bottom: 5px;
  font-size: var(--text-sm2);
  color: var(--grey4);
  padding-left: var(--space-1);
}

.custom-select {
  max-width: min(140px, 25vw);
}

.control-group input {
  width: 200px;
  background-color: var(--black1);
  font-size: var(--text-sm2);
  border: var(--border1);
  color: var(--white2);
  position: relative;
  box-sizing: border-box;
  min-height: 2rem;
  padding: var(--space-2);
}

.cg-search-param {
  margin-top: auto;
}

.cg-search-param .custom-select {
  width: auto;
  min-width: 120px;
}

tr {
  height: 2.75rem;
  border-bottom: var(--border1);
  position: relative;
  width: 100%;
  border-top: 1px solid transparent;
  font-size: var(--text-sm2);
}

tr:hover {
  background-color: var(--offset-black2);
}

th {
  font-weight: 400;
}

.btn-center,
.svg-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-center {
  position: relative;
  color: var(--grey3);
  background-color: transparent;
  border: none;
  padding: var(--space-2) 2rem var(--space-2) .5rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  height: 100%;
  font-size: var(--text-sm);

}

.btn-center span {
  margin-right: .5rem;
}

.task-item[data-task-processed="done"] {
  background-color: var(--black4);
}

.task-item[data-task-checked="true"],
.task-item--checked {
  background-color: var(--black4);
  transition: background-color var(--duration-1) var(--bez-1);
}

.td-status {
  min-width: 8rem;
}

.div-center {
  display: flex;
  align-items: center;
  width: 100%;
  padding: .25rem;
  border-radius: .25rem;
  gap: .25rem;
  color: var(--white2);
}

.filter-buttons {
  display: flex;
  gap: var(--space-2);
  align-items: center;
  padding-left: var(--space-2);
  font-size: var(--text-sm);
}

.task-table-container {
  background-color: var(--black1);
  overflow-x: auto;
  width: 100%;
  height: 100%;
  border-radius: .5rem;
  border: var(--border1);
  position: relative;

  /* padding: .5rem 0; */
}

.task-table {
  border-spacing: 0;
  width: 100%;
  min-width: 1150px;
  font-weight: 400 !important;
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
  display: table;
  caption-side: bottom;
  position: relative;
}

.task-table thead {
  display: table-header-group;
}

.task-table tbody {
  display: table-row-group;
}

.task-table th {
  font-size: var(--text-sm);
}

.tbody tr:last-child {
  border-bottom: 1px solid transparent;
}

.task-table th,
.task-table td {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
}

.task-table th:first-child,
.task-table td:first-child {
  max-width: 4%;
  min-width: 4%;
  width: 4%;
  padding-left: .25rem;
}

.task-table th:nth-of-type(2),
.task-table td:nth-of-type(2) {
  width: 100px;
  max-width: 100px;
  min-width: 100px;
  padding: 0 .25rem;
}

.task-table td:nth-of-type(2) {
  padding-left: .5rem;
}

.task-table th:nth-of-type(3),
.task-table td:nth-of-type(3) {
  width: 56%;
  max-width: 56%;
  min-width: 56%;
  padding: 0 .5rem;
}

.task-table th:nth-of-type(4),
.task-table td:nth-of-type(4) {
  width: 14%;
  max-width: 14%;
  min-width: 14%;
  padding: 0 .5rem;
}

.task-table th:nth-of-type(5),
.task-table td:nth-of-type(5) {
  width: 12%;
  max-width: 12%;
  min-width: 12%;
  padding: 0 .5rem;
}

.task-table th:last-child,
.task-table td:last-child {
  width: 5%;
  max-width: 5%;
  min-width: 5%;
  padding-right: .5rem;
}

.task-table th:not(:first-child) {
  transform: translateX(-5px);
}

.task-date {
  white-space: nowrap;
  display: flex;
  align-items: center;
  text-overflow: ellipsis;
}

.task-title {
  max-width: 60px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.task-desc {
  max-width: 650px;
  display: flex;
  align-items: center;
  column-gap: .5rem;
}

.task-desc span {
  width: 580px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.td-status span {
  width: 100px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.task-item--options {
  display: flex;
  height: 1.75rem;
  width: 2.25rem;
  background-color: var(--black1);
  border-color: var(--offset-black3);
  justify-content: center;
  align-items: center;
}

.task-item--options:hover {
  border-color: var(--grey4);
}

.task-item--options[data-task-active="true"] {
  background-color: var(--black3);
}

.td-two {
  display: flex;
  align-items: center;
}

.tag {
  font-family: var(--monoFont) !important;
  font-size: var(--text-xs) !important;
  border: var(--border1);
  padding: var(--space-15) var(--space-3);
  border-radius: .25rem;
  font-weight: 500;
  color: var(--white1);
  width: fit-content;
  background-color: var(--grad-vert-1);
}

.td-two div:last-child {
  display: block;
  text-overflow: ellipsis;
}

.checkbox-wrapper {
  width: fit-content;
  height: 100% !important;
  align-items: center;
  justify-content: center;
  margin: 0 auto !important;
  font-weight: 400;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

[data-icon="arrows"]::after {
  position: absolute;
  top: 0;
  right: .25rem;
  bottom: 0;
  width: 1rem;
  filter: invert(1);
  opacity: .8;
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.93179 5.43179C4.75605 5.60753 4.75605 5.89245 4.93179 6.06819C5.10753 6.24392 5.39245 6.24392 5.56819 6.06819L7.49999 4.13638L9.43179 6.06819C9.60753 6.24392 9.89245 6.24392 10.0682 6.06819C10.2439 5.89245 10.2439 5.60753 10.0682 5.43179L7.81819 3.18179C7.73379 3.0974 7.61933 3.04999 7.49999 3.04999C7.38064 3.04999 7.26618 3.0974 7.18179 3.18179L4.93179 5.43179ZM10.0682 9.56819C10.2439 9.39245 10.2439 9.10753 10.0682 8.93179C9.89245 8.75606 9.60753 8.75606 9.43179 8.93179L7.49999 10.8636L5.56819 8.93179C5.39245 8.75606 5.10753 8.75606 4.93179 8.93179C4.75605 9.10753 4.75605 9.39245 4.93179 9.56819L7.18179 11.8182C7.35753 11.9939 7.64245 11.9939 7.81819 11.8182L10.0682 9.56819Z' fill='currentColor' fill-rule='evenodd' clip-rule='evenodd'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: auto 0;
  content: '';
}

[data-icon="filter"]::after {
  position: absolute;
  top: 0;
  right: .25rem;
  bottom: 0;
  width: 1rem;
  filter: invert(1);
  opacity: .8;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: auto 0;
  content: '';
  background-image: url("data:image/svg+xml,%3Csvg stroke='currentColor' fill='currentColor' stroke-width='0' viewBox='0 0 24 24' height='1em' width='1em' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Filter'%3E%3Cpath d='M14.037,20.937a1.015,1.015,0,0,1-.518-.145l-3.334-2a2.551,2.551,0,0,1-1.233-2.176V12.091a1.526,1.526,0,0,0-.284-.891L4.013,4.658a1.01,1.01,0,0,1,.822-1.6h14.33a1.009,1.009,0,0,1,.822,1.6h0L15.332,11.2a1.527,1.527,0,0,0-.285.891v7.834a1.013,1.013,0,0,1-1.01,1.012ZM4.835,4.063,9.482,10.62a2.515,2.515,0,0,1,.47,1.471v4.524a1.543,1.543,0,0,0,.747,1.318l3.334,2,.014-7.843a2.516,2.516,0,0,1,.471-1.471l4.654-6.542,0,0Z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.view-header {
  width: 100%;
  display: flex;

  /* flex-direction: column; */
  padding: .5rem;
  justify-content: space-between;
  align-self: center;
  margin-bottom: 1rem;
}

.view-header h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: var(--white1);
}

.view-header-open {
  width: 100%;
  height: 100%;
}

.view-header-profile {
  display: flex;
  align-items: center;
  width: 50px;
  height: 100%;
}

.view-header-profile button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--black1);
  border: 1px solid var(--grey3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-header p {
  color: var(--grey4);
  font-size: 1rem;
  line-height: 1.75rem;
}

@media screen and (max-width: 720px) {
  .task-dashboard {
    padding: .5rem;
  }

  .control-group input {
    width: 120px;
  }

  .cg-search-param .custom-select {
    min-width: 2rem !important;
    width: 2rem !important;
    height: 2rem !important;
  }

  .cg-search-param .custom-select .selected-option::after {
    z-index: 2000;
    position: absolute;
    inset: 0 !important;
    margin: auto;
  }

  .cg-search-param .custom-select .selected-option .option-text {
    visibility: hidden;
  }

  .view-header-profile {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .task-dashboard {
    padding: var(--space-3) 0;
  }
}